@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: $bg;
  color: $fg;
  font-family: $font-body;
  line-height: 1.6;
}

a {
  color: $accent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  height: auto;
  align-self: center;
}

hr {
  border: none;
  border-top: 2px solid #f8f8f2;
  margin: 1.5rem 0;
}
