@use "variables" as *;

#sidebar-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
}

header,
footer {
  padding: $space-2 $space-3;
}

main {
  display: flex;
  flex-direction: column;
  padding: $space-4;
  min-width: 0;
}
