@use "variables" as *;

header,
footer {
  padding: $space-2 $space-3;
}

main {
  display: flex;
  flex-direction: column;
  padding: $space-4 25vw;
  min-width: 0;

  @media (max-width: 600px) {
    padding: $space-4;
  }
}
